{% extends 'base.html.twig' %}
{% block title %}Thanks{% endblock %}
{% block body %}
<div class="jumbotron">
<div class="container layout_padding">
  <h1 class="display-4">Thankyou!</h1>
  <p class="lead">Thanks for getting in touch with us.</p>
</div>
</div>
{% endblock %}